@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --pink-01: #ce9797;
    --red-01: #f96262;
    --gray-01: #413a3a;

    --font-primary: 'Josefin Sans';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--font-primary), Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.container, .template {
    min-height: 100dvh;
    width: 100%;
}

.template {
    display: flex;
}

.template_content {
    position: relative;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1250px;
    padding: 100px;
    background-image: linear-gradient(135deg,hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.template_content_main {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    max-width: 600px;
    height: 100%;
    padding-top: 80px;
    margin-right: 100px;
}

.template_content_header {
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
}

.logo_img {
    width: 225px;
}

.template_content_main h1 {
    font-size: 6rem;
    font-weight: 400;
    color: var(--gray-01);
    letter-spacing: 2rem;
    line-height: 1.1;
    text-transform: uppercase;
}

.template_content_main h1 span {
    font-weight: 300;
    color: var(--pink-01);
}

.template_content_main p {
    font-size: 1.355rem;
    font-weight: 400;
    color: var(--pink-01);
    line-height: 1.6;
}

.template_content_main form {
    position: relative;
    width: 100%;
}

#email {
    width: calc(100% - 60px);
    height: 70px;
    padding: 25px 40px;
    border-radius: 35px 0 0 35px;
    border: 1px solid var(--pink-01);
    border-right: none;
    background-color: transparent;
}

#email::placeholder {
    font-size: 1.2rem;
    color: var(--pink-01);
}

#submit-email-btn {
    position: absolute;
    right: 0;
    width: 120px;
    height: 70px;
    border-radius: 40px;
    border: none;
    background-image: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    cursor: pointer;
    box-shadow: 5px 10px 40px #ce9797a2;
    z-index: 20;
}

#submit-email-btn img {
    width: 15px;
}

.content_bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.template_img {
    flex: 1;
    background-image: url('../images/hero-desktop.jpg');
    background-size: cover;
}